<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>dip wev</title>
</head>

<body>
    
    <aside>
        <header>
            <nav>
                <a href="">DROGAS</a>
                <a href="">☠️☠️</a>
                <a href="">CERRAR SESION</a>
            </nav>
        </header>
    </aside>
    <main>
        <h1>Recetas</h1>
        <section>

        </section>
    </main>
</body>
</html>